/* ===========================================================================
	General Styles
	========================================================================== */
	body {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
	}

	.row-full {
		max-width: none;
		.column, .columns {
			padding: 0;
		}
	}

	.module {
		margin-bottom: 2em;
		&:last-of-type {
			margin-bottom: 0;
		}
	}