/* ===========================================================================
	General Styles
	========================================================================== */
	html {
		margin: 0;
		font-size: 62.5%;
	}

	body {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
	}